*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

#header{
	font-size: 30px;
	text-align: center;
	margin-bottom: 40px;
}

.row{
	width: 100%;

}

section{
	border: 3px solid black;
	margin-right: 60px;
	padding: 10px;
    margin-bottom:  20px;
}

p{
	padding: 20px;
}

#h2{
	margin:-10px;
	position: relative;
	float: right;
	padding: 5px 10px 5px 10px;
	background-color: #DB7BB1;
	border: 2px solid black;
	text-align: right;
}

#h3{
	margin:-10px;
	position: relative;
	float: right;
	padding: 5px 10px 5px 10px;
	background-color: #D8DB7B;
	border: 2px solid black;
	text-align: right;
}

#h4{
	margin: -10px;
	position: relative;
	float: right;
	padding: 5px 10px 5px 10px;
	background-color: #4DD417;
	border: 2px solid black;
	text-align: right;
	}


@media(min-width: 992px){
    .col-lg-3{
    	float: right;
    }
	.col-lg-3{
		width: 25%;
	}

}

@media(min-width: 768px) and (max-width: 991px){
    .col-md-6,.col-md-12{
    	float: right;
    }

   .col-md-6{
   	width: 40%
   }

   .col-md-12{
   	width: 90%;
   	position: relative;
   	bottom : -70px;
   }
}

